{% extends "business/base.html" %} {% load bootstrap4 %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-light bg-light"> 
  <a class="navbar-brand" href="{% url 'blog:index' %}">test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% for topic in topics %}
      <li>
        <a class="nav-item nav-link">{{ topic.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>

<div class="container py-3">
  {% block blog %} {% endblock blog %}
</div>
{% endblock content %}