{% extends "blog/base.html" %} {% load bootstrap4 %}

{% block header %}
<div class="jumbotron-img text-center text-light" style="background-image: url('https://images.unsplash.com/photo-1594933378474-86cd47841995?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80');">
  <div class="container p-3">
    <h1 class="display-3 py-3">
      <strong>Edit Post</strong>
    </h1>
  </div>
</div>
{% endblock header %}

{% block blog %}
<form action="{% url 'blog:edit_post' post.id %}" method="POST" class="form">
  {% csrf_token %} {% bootstrap_form form %} {% buttons %}
  <button name="submit" class="btn btn-outline-success">Save Changes</button>
  {% endbuttons %}
</form>

{% endblock blog %}
