{% extends "blog/base.html" %} {% load bootstrap4 %}

{% block header %}
<div class="jumbotron-img text-center text-light" style="background-image: url('https://images.unsplash.com/photo-1594933378474-86cd47841995?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80');">
  <div class="container p-3">
    <h1 class="display-3 py-3">
      <strong>{{ topic.text }}</strong>
    </h1>
  </div>
</div>
{% endblock header %}

{% block blog %}

<ul class="px-4 py-2">
  {% for post in posts %}
  <div class="panel panel-default {% if not forloop.first and user.is_authenticated %} pt-3 {% endif %}">
    <div class="panel-heading">
      <div class="row">
        <div class="col-auto">
          <h3>
            {{ post.title }} <small>- by {{ post.user.first_name }} {{ post.user.last_name}}</small>
          </h3>
        </div>
        
        {% if user.is_authenticated %}
        <div class="col pl-0 my-2">
          <p class="text-left m-0">
            <a href="{% url 'blog:edit_post' post.id %}">Edit Post</a>
          </p>
        </div>
        {% endif %}

        {% if user.is_authenticated and forloop.first %}
        <div class="col-auto my-2">
          <p class="text-right m-0">
            <a href="{% url 'blog:new_post' %}">New Post</a>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="panel-body text-break px-3">
      {{ post.text }}
    </div>
  </div>
  {% empty %}
  <p class="text-right m-0">
    <a href="{% url 'blog:new_post' %}">New Post</a>
  </p>
  {% endfor %}
</ul>
{% endblock blog %}