{% extends 'business/base.html' %} {% load bootstrap4 %}

{% block header %}
<div class="jumbotron-img text-center text-light" style="background-image: url('https://images.unsplash.com/photo-1594995297377-b4e91695313e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60');">
  <div class="container p-3">
    <h1 class=display-3>
      <strong>Sign In</strong>
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="container border w-75 p-4 mt-2 mb-5">
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-outline-success">Create Account</button>
    {% endbuttons %}
  </form>

  <div class="text-center">
    <p>
      Already have an account? Login <a href="{% url 'users:login' %}">here</a>
    </p>
  </div>
</div>
{% endblock %}