{% extends 'business/base.html' %} {% load bootstrap4 %}

{% block header %}
<div class="jumbotron-img text-center text-light" style="background-image: url('https://images.unsplash.com/photo-1594731938336-c4bd2ecc8790?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60');">
  <div class="container p-3">
    <h1 class="display-3 py-3">
      <strong>{{ club.name }}</strong>
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<h2 class="font-weight-light">
  &emsp;{{ club.text }}
</h2>

<!-- <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FVancouver&amp;src=ZjFrb2gxNjVkZTFsZGc1NDA1ZHFnMXBxZTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23EF6C00&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
{% endblock content %}