{% extends 'business/base.html' %} {% load bootstrap4 %}

{% block header %}
<div class="jumbotron-img text-center text-light" style="background-image: url('https://images.unsplash.com/photo-1595279834352-677d2386d8f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');">
  <div class="container p-3">
    <h1 class="display-3 py-3">
      <strong>Sign Up</strong>
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="container border w-75 p-4 mt-2 mb-5">
  <form action="{% url 'business:sign_up' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-outline-success">Sign Up</button>
    {% endbuttons %}
  </form>
</div>
{% endblock content %}